@{
  Layout = "_Layout";
}

<div class="container">
  <h3>List of currently employed stylists</h3>
    <div class="row">
      <div class="col-md-6">
        <p>Click the link to go to a list of stylists.</p>
      </div>
      <div class="col-md-6">
        <form class="form-group" action="/Stylists/SeeStylists" method="get">
          <button type="submit" name="button">See all stylists</button>
        </form>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-md-6">
        <!-- refresh the form/page -->
        <form class="form-group" action="/" method="get">
          <button type="submit" name="button">Refresh the page</button>
        </form>
        <form class="form-group" action="/Stylists/AddStylist" method="get">
          <button type="submit" name="button">Enter a new stylist</button>
        </form>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
