@{
  Layout = "_Layout";
}
<div class="container">
  <h3>@Item.GetStylistName();</h3>
    <small><em>A list of the clients currently seeing this stylist.</em></small>
    <div class="row">
      <div class="col-md-6">
        <div class="clients">
          <ul>
            <!-- code here -->
          </ul>
        </div>
      </div>
    </div>
</div>
